[Unit]
Description=air particles
After=multi-user.target

[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi/air_quality
ExecStart=/usr/bin/python3 /home/pi/air_quality/particles.py /home/pi/myscript.log 2>&1
StandardOutput=syslog
StandardError=syslog
Restart=always


[Install]
WantedBy=multi-user.target

